
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito&display=swap');

#wrapper {
    display: grid;
    grid-template-areas: 
    "hd hd"
    "nav nav"
    "sc1 sc2"
    "sc3 sc4"
    "ft  ft"
    ;
}


.logo{
    border:none;
    size: 1px;
    height: 7vw;
    border-radius: 9px;
    
}


button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }

.header{
    grid-area: hd;
    display: flex;
    background-color: #03411d;
    padding: 10px;
    align-content: center;
    justify-content: space-around;
}
h2{
    color: white;
    width: 50vw;
    color: grey;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

body{
    background-color: #2ecc71;
    margin:0;
}

#navigation{
    grid-area: nav;
    background-image: url('../img/navbackground.jpg');    
    justify-content: space-between;
    display: flex;
    align-content: center;
    margin: 7px;
    border-radius: 6px;
    font-family: 'Nunito';
    padding-left: 2rem;
}
#navigation:hover{
    color: purple;
}

#one,
#two,
#three,
#four {
    width: 44vw;
    height: 40vh;
    display: flex;
    margin: 2px;
    padding: 2rem;
    font-family: 'Nunito';

}

#one{
    grid-area: sc1;
    background-image: url('../img/twitch.jpg');
    color: white;
    align-items: center;
3}
#two{
    grid-area: sc2;
    background-image: url('../img/engine.jpg');
    object-fit: contain;
}
#three{
    grid-area: sc3;
    background-color: blue;

}
#four{
    grid-area: sc4;
    background-color: yellow;
}
