@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito&display=swap');

#wrapper {
    display: grid;
    grid-template-areas: 
    "hd hd"
    "nav nav"
    "sc1 sc2"
    "sc3 sc4"
    "ft  ft"
    ;
}


.logo{
    border:none;
    size: 1px;
    height: 7vw;
    border-radius: 9px;
    
}


button {
    background-color: #2ecc71; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }

.header{
    grid-area: hd;
    display: flex;
    background-color: #03411d;
    padding: 10px;
    align-content: center;
    justify-content: space-around;
}
h2{
    color: white;
    width: 50vw;
    color: grey;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

body{
    background-color: #2ecc71;
    margin:0;
}

#navigation{
    grid-area: nav;
    background-image: url('../img/navbackground.jpg');    
    display: flex;
    margin: 7px;
    border-radius: 6px;
    font-family: 'Nunito';
    padding-left: 2rem;
    justify-content: center;
}


#one,
#two,
#three,
#four {
    width: 44vw;
    height: 40vh;
    dis lay: flex;
    margin: 2px;
    padding: 2rem;
    font-family: 'Nunito';    
    background-size: cover;    
}

#one{
    grid-area: sc1;
    background-image: url('../img/twitch.jpg');
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
#two{
    grid-area: sc2;
    background-image: url('../img/tf2.jpg');
    color: white;
    border-radius: 5px;
}
#three{
    grid-area: sc3;
    background-image:url('../img/bob.jpg') ;
    color: black;
}
#four{
    grid-area: sc4;
    background-image: url('../img/bottl.jpg');
    color: white;
    
}
footer{
    grid-area: ft;
    display: grid;
    background-color:rgb(3, 171, 67);
    padding: 1rem;
}

a{
    color: black;

}
.personericons{
    border-radius: 900px;
    margin: 2rem;
    width: 200px;
    height: 200px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-content:center;
    grid-area: pictures;
    

}
#persons {
    display: flex;
    justify-content: center;
}

.description{
    display:flex;
    width: 93vw;
    height: 20vh;
    margin: 2rem;
    justify-content: center;
    align-content: center;
}

#wrap {
    display: inlineblock;
    grid-template-areas: 
    "Title"
    "Image"
    "Text"
    "foot"
    ;
}

.titleaboutus{
    display: flex;
    grid-area: Title;
    justify-content: center;
    font-family: sans-serif;
}

.pictureaboutus{
    grid-area: Image;
    width:100%;
}

.textomforetaget{
    display: grid;
    grid-area: text;
    margin: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 16px;

}

.card1 {
    max-width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s;
    margin: 4rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-family: sans-serif;
}

.card1:hover {
    transform: scale(1.05);
}

.card1title{
    font-size: xx-large;
}

.card1text{
    max-height: 32em;
